<!-- <h2 class="search-info-title" style="margin-bottom: 100px;"> 有关"<%= @query_string %>"的信息 </h2>

<table class="table table-boldered table-striped custab">
    <div class="job-table">
        <% @jobs.each do |job| %>
            <div class="row jobs-show">
                <div class="col-md-12 col-lg-9 col-lg-offset-2">
                    <div class="pull-right">
                        发布时间：<%= job.created_at.to_date %>
                    </div>
                    <p ><%= link_to(render_highlight_content(job,@query_string),job_path(job)) %></p>
                </div>
            </div>
        <% end %>

        <div class="text-center">
            <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
        </div>
    </table> -->
<div class="col-md-12 col-centered">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="text-center"> 你找的猫猫在这里 ！</h2>
            <div class="dropdown clearfix pull-right">
                <button class="btn btn-default dropdown-toggle" type ="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    排序
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                    <li>
                        <%= link_to("按照发表时间排序", jobs_path ) %>
                    </li>
                </ul>
            </div>
            <table class="table table-hover table-boldered table-striped custab">
                <thead>
                    <tr>
                        <th>猫猫小名</th>
                        <th>品种</th>
                        <th>发布时间</th>
                    </tr>
                </thead>
                <tbody>
                    <% @jobs.each do |job| %>
                        <tr>
                            <td><%= link_to(job.title, job_path(job)) %></td>
                            <td><%= job.category %> </td>
                            <td><%= job.created_at %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
