<div class="col-md-12" style="height:800px;overflow:auto;padding-top:120px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>猫猫都在这里</h3>
        </div>
        <div class="panel-body">
            <div class="dropdown clearfix pull-right">
                <button class="btn btn-default dropdown-toggle" type ="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    猫猫们排队
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                    <li>
                        <%= link_to("按照发表时间排序", jobs_path ) %>
                    </li>
                </ul>
            </div>
            <table class="table table-boldered">
                <thead>
                    <tr>
                        <td>猫猫小名</td>
                        <td>品种</td>
                        <td>猫猫生涯</td>
                        <td>这条纪录创建时间</td>
                    </tr>
                </thead>
                <tbody>
                    <% @jobs.each do |job| %>
                        <tr>
                            <td><%= link_to(job.title, job_path(job)) %></td>
                            <td><%= job.category %></td>
                            <td><%= job.description %></td>
                            <td><%= job.created_at %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="text-center">
                <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
            </div>
        </div>
    </div>
</div>
