<div class="col-md-8 col-centered" style="height:600px;padding-top:20px;margin:100px">
    <h2>猫猫信息修改</h2>
    <div class="col-md-6 col-centered ">
        <div class="form-box">
            <%= simple_form_for [:admin, @job] do |f| %>
                <%= f.input :title, label: false, error: '请输入猫猫小名', placeholder: '猫猫小名', required: true, autofocus: true, input_html: { class: "form-control"} %>
                <%= f.input :description, placeholder: '猫猫生涯介绍' %>
                <%= f.input :category, placeholder: '品种' %>
                <%= f.input :contact_email, input_html: { maxlength: 16 } %>
                <%= f.input :is_hidden, :label => false, as: :radio_buttons, collection:  [['显示', false], ['隐藏', true]] %>
                <div class="form-actions text-right">
                    <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
                </div>
            <% end %>
        </div>
    </div>
</div>
